<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto text-left">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=curricula" class="dropdown-item">Curricula</a>
                <a href="{% url 'products' %}?category=worksheets" class="dropdown-item">Worksheets</a>
                <a href="{% url 'products' %}?category=games" class="dropdown-item">Games</a>
                <a href="{% url 'products' %}?category=lesson_plans" class="dropdown-item">Lesson Plans</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>