{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-sm-6">
                <h1 class="black-subheading-font">
                    Who we are
                </h1>
                <p class="lead text-black">We are Marionne and Kasia.  Mothers. Teachers. Facilitators.</p>
                <p class="text-black">We are parents to children ranging in age from 3 to 17. We want to help our young learners to explore their interests and
                    develop a real passion for learning. We started designing games and worksheets to use with our children and their friends 
                    at home. Friends and fmaily started asking for their own copies and interest grew.  With that <strong>Home Learning</strong>
                    was born.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-7 col-md-6">
                <h1 class="black-subheading-font">
                    What we offer
                </h1>
                <p class="lead text-black">We provide learning resources to inspire and motivate students with different learning styles.</p>
                <p class="text-black">Students tend to fall into one of four main categories of learner: visual, auditory, read/write, and kinaesthetic.  
                    Our resources cover as many of these learning styles as possible and are adaptable to individual or groups of students. We 
                    cater for everyone: parents wanting worksheets to help and encourage children with their schoolwork to home educators 
                    looking for whole curriculums to students looking for revision worksheets or games to help consolidate the work they have done 
                    in class.</p>
            </div>
        </div>
    </div>
{% endblock %}